@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');
* {
    margin: 0;
}

@media screen and (max-width: 320px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #somethingorother {
        width: 120px;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #somethingorother {
        width: 320px;
    }
}

@media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
        width: 480px;
    }
}

body {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 200px;
    grid-template: [header-left] "header header" 60px [header-right] [main-left] "sidebar  mainbar" 1fr [main-right] [main-left] "sidebar  mainbar" 30px [main-right]/ 14% 86%;
}

h1 {
    padding: 0px 0 15px 0;
}

.header {
    color: #fff;
    background-color: #000;
    grid-area: header;
    padding: 15px 0 10px 6%;
    font-size: 11px;
}

.mainbar {
    background-color: #fff;
    grid-area: mainbar;
    height: 100vh;
}

textarea {
    height: 200px;
}

input[type=text],
[type=password],
[type=email],
select,
textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

button {
    width: 13%;
    background-color: rgb(13, 134, 204);
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

label {
    font-weight: 900;
    font-size: 18px;
}

form {
    padding: 30px 40px;
}

form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

form-control input:focus {
    outline: 0;
    border-color: #777;
}

form-control.success input {
    border-color: #2ecc71;
}

form-control.error input {
    border-color: #e74c3c;
}

form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

form-control.error small {
    visibility: visible;
}

form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 15px;
    font-weight: bolder;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
}

.material-icons {
    font-size: 24px;
}